@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
h1, h2, p, footer {
    color: #07070A;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
h1, h2 {
    font-weight: bolder;
    padding: 10px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
}
header p {
    text-align: left;
}
header nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #07070A;  
}
nav a:hover {
    color: aqua;
}
main section {
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
main ul li {
    background-color: #07070A;
    color: #e6e6ce;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.listacontato {
    display: flex;
    gap: 20px;
    
}
.linkcontato, .linkprojetos {
    text-decoration: none;
    color: #e6e6ce;
    padding: 10px 20px;
    border-radius: 5px;
}
.listahabilidades {
    display: flex;
    gap: 20px;
    align-content: center;
}   

a {
    text-decoration: none;
  }
a:hover {
    color: aqua;
}
.boxhabilidade {
    transition: transform 0.3s ease;
}
.boxhabilidade:hover {
    color: aqua;
    transform: scale(1.1);
}
footer  {
    position: relative;
    bottom: 0;
    width: 100%;
}
.afooter {
    text-decoration: none;
    color: aqua;
    text-shadow: 0 0 5px black;
}
.afooter:hover {
    color: #ff0000;
    text-shadow: 0 0 5px black;
}
@media (min-width: 768px) {
    header nav {
        flex-direction: row;
        justify-content: end;
        gap: 30px;
        text-align: center;
    }
    main ul {
        flex-direction: row;
        gap: 20px;
        with: auto;
    }
    main ul li {
        width: 200px;
        max-width: none;
    }
    
}